<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>
<title>Pick Host</title>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Select where to open this archive:</h1>
        </br>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <a class="btn btn-primary btn-lg" href="open?host=localhost%3A8888&title={{request.args.get('title')}}&format={{request.args.get('format')}}&archive={{request.args.get('archive')}}"
                    >Locally</a>
                <p class="small">Make sure you have Tellurium and IPython Running</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <a class="btn btn-primary btn-lg" href="open?host=viewer.sysb.io%3A8888&title={{request.args.get('title')}}&format={{request.args.get('format')}}&archive={{request.args.get('archive')}}">viewer.sysb.io</a>
                <p class="small">Try out our cloud service!</p>
            </div>
        </div>
    </div>
</div>
</body>
